# Mark CMake files as vendored so they don't count toward language stats
*.cmake linguist-vendored

# Mark native desktop folders (if using Flutter for desktop) as vendored
windows/* linguist-vendored
linux/* linguist-vendored
macos/* linguist-vendored

# Explicitly mark .dart files as Dart
*.dart linguist-language=Dart
